out/build/x64-debug/.ninja_deps
out/build/x64-debug/.ninja_log
out/build/x64-debug/build.ninja
out/build/x64-debug/cmake_install.cmake
out/build/x64-debug/CMakeCache.txt
out/build/x64-debug/CMakeProject1.exe
out/build/x64-debug/CMakeProject1.ilk
out/build/x64-debug/CMakeProject1.pdb
out/build/x64-debug/VSInheritEnvironments.txt
out/build/x64-debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/x64-debug/.cmake/api/v1/reply/cache-v2-68c7e8cdee672c20307f.json
out/build/x64-debug/.cmake/api/v1/reply/cmakeFiles-v1-7514f800b05162cbc09e.json
out/build/x64-debug/.cmake/api/v1/reply/codemodel-v2-6f7b9a109c285bc67689.json
out/build/x64-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
out/build/x64-debug/.cmake/api/v1/reply/directory-OpenXLSX-Debug-bcc629d7b0a080379e95.json
out/build/x64-debug/.cmake/api/v1/reply/index-2024-07-02T16-01-25-0930.json
out/build/x64-debug/.cmake/api/v1/reply/target-CMakeProject1-Debug-9e73ebe394061f917e51.json
out/build/x64-debug/.cmake/api/v1/reply/target-OpenXLSX-Debug-ab33755a7f1281ad9b9c.json
out/build/x64-debug/.cmake/api/v1/reply/toolchains-v1-143597590e05b1a53b54.json
out/build/x64-debug/CMakeFiles/cmake.check_cache
out/build/x64-debug/CMakeFiles/CMakeConfigureLog.yaml
out/build/x64-debug/CMakeFiles/rules.ninja
out/build/x64-debug/CMakeFiles/TargetDirectories.txt
out/build/x64-debug/CMakeFiles/3.28.3-msvc11/CMakeCCompiler.cmake
out/build/x64-debug/CMakeFiles/3.28.3-msvc11/CMakeCXXCompiler.cmake
out/build/x64-debug/CMakeFiles/3.28.3-msvc11/CMakeDetermineCompilerABI_C.bin
out/build/x64-debug/CMakeFiles/3.28.3-msvc11/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-debug/CMakeFiles/3.28.3-msvc11/CMakeRCCompiler.cmake
out/build/x64-debug/CMakeFiles/3.28.3-msvc11/CMakeSystem.cmake
out/build/x64-debug/CMakeFiles/3.28.3-msvc11/CompilerIdC/CMakeCCompilerId.c
out/build/x64-debug/CMakeFiles/3.28.3-msvc11/CompilerIdC/CMakeCCompilerId.exe
out/build/x64-debug/CMakeFiles/3.28.3-msvc11/CompilerIdC/CMakeCCompilerId.obj
out/build/x64-debug/CMakeFiles/3.28.3-msvc11/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x64-debug/CMakeFiles/3.28.3-msvc11/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x64-debug/CMakeFiles/3.28.3-msvc11/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x64-debug/CMakeFiles/CMakeProject1.dir/CMakeProject1.cpp.obj
out/build/x64-debug/CMakeFiles/CMakeProject1.dir/embed.manifest
out/build/x64-debug/CMakeFiles/CMakeProject1.dir/intermediate.manifest
out/build/x64-debug/CMakeFiles/CMakeProject1.dir/manifest.rc
out/build/x64-debug/CMakeFiles/CMakeProject1.dir/manifest.res
out/build/x64-debug/CMakeFiles/CMakeProject1.dir/vc140.idb
out/build/x64-debug/CMakeFiles/CMakeProject1.dir/vc140.pdb
out/build/x64-debug/CMakeFiles/ShowIncludes/foo.h
out/build/x64-debug/CMakeFiles/ShowIncludes/main.c
out/build/x64-debug/CMakeFiles/ShowIncludes/main.obj
out/build/x64-debug/OpenXLSX/cmake_install.cmake
out/build/x64-debug/OpenXLSX/OpenXLSX-Exports.hpp
out/build/x64-debug/OpenXLSX/OpenXLSXd.lib
out/build/x64-debug/OpenXLSX/CMakeFiles/Export/c72cc94553a1a0c9b05f75dae42fb1d7/OpenXLSXTargets-debug.cmake
out/build/x64-debug/OpenXLSX/CMakeFiles/Export/c72cc94553a1a0c9b05f75dae42fb1d7/OpenXLSXTargets.cmake
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/OpenXLSX.idb
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/OpenXLSX.pdb
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/sources/XLCell.cpp.obj
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/sources/XLCellIterator.cpp.obj
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/sources/XLCellRange.cpp.obj
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/sources/XLCellReference.cpp.obj
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/sources/XLCellValue.cpp.obj
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/sources/XLColor.cpp.obj
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/sources/XLColumn.cpp.obj
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/sources/XLContentTypes.cpp.obj
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/sources/XLDateTime.cpp.obj
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/sources/XLDocument.cpp.obj
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/sources/XLFormula.cpp.obj
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/sources/XLProperties.cpp.obj
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/sources/XLRelationships.cpp.obj
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/sources/XLRow.cpp.obj
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/sources/XLRowData.cpp.obj
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/sources/XLSharedStrings.cpp.obj
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/sources/XLSheet.cpp.obj
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/sources/XLWorkbook.cpp.obj
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/sources/XLXmlData.cpp.obj
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/sources/XLXmlFile.cpp.obj
out/build/x64-debug/OpenXLSX/CMakeFiles/OpenXLSX.dir/sources/XLZipArchive.cpp.obj
out/build/x64-debug/OpenXLSX/OpenXLSX/OpenXLSXConfig.cmake
out/build/x64-debug/OpenXLSX/OpenXLSX/OpenXLSXConfigVersion.cmake
out/build/x64-debug/OpenXLSX/OpenXLSX/OpenXLSXTargets.cmake
out/build/x64-debug/Testing/Temporary/LastTest.log
.vs/CMake Overview
.vs/cmake.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/CMakeProject1/FileContentIndex/6e853116-6577-4afa-81c8-2858d9d48577.vsidx
.vs/CMakeProject1/FileContentIndex/127e9097-5781-42e8-bb22-6178a6477261.vsidx
.vs/CMakeProject1/FileContentIndex/148cd7cb-965e-489d-8d25-805130ce7562.vsidx
.vs/CMakeProject1/FileContentIndex/c9d2b4b1-95f2-4e59-945f-8eeb4f134d0e.vsidx
.vs/CMakeProject1/FileContentIndex/f54118dd-e734-405c-9d9c-4de0901b2200.vsidx
.vs/CMakeProject1/v17/.wsuo
.vs/CMakeProject1/v17/Browse.VC.db
.vs/CMakeProject1/v17/DocumentLayout.json
.vs/CMakeProject1/v17/ipch/AutoPCH/7bafc6ba2ec5d879/CMAKEPROJECT1.ipch
.vs/CMakeProject1/v17/ipch/AutoPCH/e55f20174411cbdc/CMAKEPROJECT1.ipch
.vs/CMakeProject1/v17/ipch/AutoPCH/e9b0745aa4663e8d/CMAKEPROJECT1.ipch
